In [80]:
import pandas as pd
from pathlib import Path
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

In [6]:
data_dirpath = Path('/home/mkotyushev/faceplate/datasets/dataset')

# Split correctness

In [20]:
metadata = []
for filepath in data_dirpath.glob('**/images/**/*.*'):
    split = filepath.parent.name
    id_ = filepath.stem
    if id_[-1] in {'v', 'd', 'h'}:
        id_ = id_[:-1]
    metadata.append(
        {
            'filepath': filepath,
            'name': filepath.stem,
            'id': id_,
            'split': split,
        }
    )
df_metadata = pd.DataFrame(metadata)
df_metadata

,filepath,name,id,split
0,/home/mkotyushev/faceplate/datasets/dataset/im...,151191v,151191,train
1,/home/mkotyushev/faceplate/datasets/dataset/im...,170516d,170516,train
2,/home/mkotyushev/faceplate/datasets/dataset/im...,160440v,160440,train
3,/home/mkotyushev/faceplate/datasets/dataset/im...,151397d,151397,train
4,/home/mkotyushev/faceplate/datasets/dataset/im...,170859 (2)v,170859 (2),train
...,...,...,...,...
1683,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 118-Line 295000,STR 118-Line 295000,test
1684,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 95-Line 295000,STR 95-Line 295000,test
1685,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 221 (1)-Line 520575,STR 221 (1)-Line 520575,test
1686,/home/mkotyushev/faceplate/datasets/dataset/im...,170648,170648,test
1687,/home/mkotyushev/faceplate/datasets/dataset/im...,170758,170758,test

In [30]:
set(df_metadata[df_metadata['split'] == 'train']['id'].unique()).intersection(
    set(df_metadata[df_metadata['split'] == 'val']['id'].unique())
)

set()

In [31]:
set(df_metadata[df_metadata['split'] == 'train']['id'].unique()).intersection(
    set(df_metadata[df_metadata['split'] == 'test']['id'].unique())
)

{'170810'}

In [54]:
set(df_metadata[df_metadata['split'] == 'test']['id'].unique()).intersection(
    set(df_metadata[df_metadata['split'] == 'val']['id'].unique())
)

set()

In [33]:
df_metadata[df_metadata['id'] == '170810']

,filepath,name,id,split
282,/home/mkotyushev/faceplate/datasets/dataset/im...,170810v,170810,train
670,/home/mkotyushev/faceplate/datasets/dataset/im...,170810d,170810,train
785,/home/mkotyushev/faceplate/datasets/dataset/im...,170810h,170810,train
1335,/home/mkotyushev/faceplate/datasets/dataset/im...,170810,170810,train
1682,/home/mkotyushev/faceplate/datasets/dataset/im...,170810,170810,test

In [36]:
df_metadata['id'].value_counts()

id
170810                     5
170518                     4
160623                     4
170528                     4
170061                     4
                          ..
170635 (2)                 1
170934 (2)                 1
170805                     1
STR 103 (1)-Line 520200    1
STR 124-Line 520550        1
Name: count, Length: 487, dtype: int64

# Labels

In [38]:
id_that_have_split_class = [
    '150394',
    '150395',
    '150599',
    '150598',
    '150633',
    '150776',
    '170013',
    '170128',
    '150867',
    '160407',
    '160408',
]

In [58]:
df_metadata[df_metadata['id'].isin(id_that_have_split_class)]['split'].value_counts()

split
train    40
Name: count, dtype: int64

In [56]:
for id_ in id_that_have_split_class:
    for _, row in df_metadata[df_metadata['id'] == id_].iterrows():
        label_filepath = (row['filepath'].parents[2] / 'labels' / row['split'] / row['name']).with_suffix('.txt')
        labels = pd.read_csv(label_filepath, sep=' ', header=None, names=['class', 'x', 'y', 'w', 'h'])
        if 4 not in labels['class'].unique():
            print(f'4 not in {label_filepath}')
        else:
            print(f'4 in {label_filepath}')

4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150394d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150394v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150394h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150394.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150395.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150395v.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150395d.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150395h.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150598d.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150598v.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150598.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150598h.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150633d.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150633h.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150633v.txt
4 not in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150633.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150776d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150776h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150776.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150776v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170013d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170013v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170013.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170013h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170128d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170128.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170128v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/170128h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150867d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150867v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150867.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/150867h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160407d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160407.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160407h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160407v.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160408.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160408h.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160408d.txt
4 in /home/mkotyushev/faceplate/datasets/dataset/labels/train/160408v.txt

In [37]:
df_metadata[df_metadata['id'] == '150394']

,filepath,name,id,split
10,/home/mkotyushev/faceplate/datasets/dataset/im...,150394d,150394,train
993,/home/mkotyushev/faceplate/datasets/dataset/im...,150394v,150394,train
1052,/home/mkotyushev/faceplate/datasets/dataset/im...,150394h,150394,train
1116,/home/mkotyushev/faceplate/datasets/dataset/im...,150394,150394,train

In [60]:
for _, row in df_metadata[df_metadata['split'] == 'val'].iterrows():
    label_filepath = (row['filepath'].parents[2] / 'labels' / row['split'] / row['name']).with_suffix('.txt')
    labels = pd.read_csv(label_filepath, sep=' ', header=None, names=['class', 'x', 'y', 'w', 'h'])
    if 4 in labels['class'].unique():
        print(f'4 in {label_filepath}')

# Split

In [68]:
metadata = []
for filepath in data_dirpath.glob('**/images/**/*.*'):
    split = filepath.parent.name
    id_ = filepath.stem
    if id_[-1] in {'v', 'd', 'h'}:
        id_ = id_[:-1]
        
    label_counts = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0}
    label_filepath = (filepath.parents[2] / 'labels' / split / filepath.stem).with_suffix('.txt')
    if label_filepath.exists():
        labels = pd.read_csv(label_filepath, sep=' ', header=None, names=['class', 'x', 'y', 'w', 'h'])
        label_counts = label_counts | labels['class'].value_counts().to_dict()
    
    metadata.append(
        {
            'filepath': filepath,
            'name': filepath.stem,
            'id': id_,
            'split': split,
        } | label_counts
    )
df_metadata = pd.DataFrame(metadata)
df_metadata

,filepath,name,id,split,0,1,2,3,4
0,/home/mkotyushev/faceplate/datasets/dataset/im...,151191v,151191,train,19,0,1,2,0
1,/home/mkotyushev/faceplate/datasets/dataset/im...,170516d,170516,train,2,0,2,1,0
2,/home/mkotyushev/faceplate/datasets/dataset/im...,160440v,160440,train,7,2,0,1,0
3,/home/mkotyushev/faceplate/datasets/dataset/im...,151397d,151397,train,14,0,1,1,0
4,/home/mkotyushev/faceplate/datasets/dataset/im...,170859 (2)v,170859 (2),train,12,0,1,1,0
...,...,...,...,...,...,...,...,...,...
1683,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 118-Line 295000,STR 118-Line 295000,test,0,0,0,0,0
1684,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 95-Line 295000,STR 95-Line 295000,test,0,0,0,0,0
1685,/home/mkotyushev/faceplate/datasets/dataset/im...,STR 221 (1)-Line 520575,STR 221 (1)-Line 520575,test,0,0,0,0,0
1686,/home/mkotyushev/faceplate/datasets/dataset/im...,170648,170648,test,0,0,0,0,0
1687,/home/mkotyushev/faceplate/datasets/dataset/im...,170758,170758,test,0,0,0,0,0

In [70]:
df_metadata = df_metadata[df_metadata['split'].isin({'train', 'val'})]
df_metadata

,filepath,name,id,split,0,1,2,3,4
0,/home/mkotyushev/faceplate/datasets/dataset/im...,151191v,151191,train,19,0,1,2,0
1,/home/mkotyushev/faceplate/datasets/dataset/im...,170516d,170516,train,2,0,2,1,0
2,/home/mkotyushev/faceplate/datasets/dataset/im...,160440v,160440,train,7,2,0,1,0
3,/home/mkotyushev/faceplate/datasets/dataset/im...,151397d,151397,train,14,0,1,1,0
4,/home/mkotyushev/faceplate/datasets/dataset/im...,170859 (2)v,170859 (2),train,12,0,1,1,0
...,...,...,...,...,...,...,...,...,...
1595,/home/mkotyushev/faceplate/datasets/dataset/im...,100023,100023,val,4,0,1,1,0
1596,/home/mkotyushev/faceplate/datasets/dataset/im...,130015,130015,val,4,2,0,1,0
1597,/home/mkotyushev/faceplate/datasets/dataset/im...,100124h,100124,val,5,0,1,1,0
1598,/home/mkotyushev/faceplate/datasets/dataset/im...,100228v,100228,val,2,0,1,1,0
1599,/home/mkotyushev/faceplate/datasets/dataset/im...,130032d,130032,val,12,1,0,1,0

In [75]:
for i in range(5):
    print(df_metadata[i].value_counts().to_dict())

{7: 176, 5: 160, 6: 148, 10: 136, 3: 104, 8: 100, 12: 96, 11: 92, 4: 88, 2: 72, 9: 60, 1: 56, 0: 56, 14: 52, 13: 36, 18: 28, 21: 20, 15: 20, 19: 12, 17: 12, 23: 12, 16: 12, 22: 8, 20: 8, 25: 8, 33: 4, 30: 4, 35: 4, 24: 4, 38: 4, 28: 4, 27: 4}
{0: 776, 1: 336, 2: 100, 3: 92, 4: 88, 6: 68, 5: 60, 7: 32, 9: 12, 8: 12, 10: 12, 13: 4, 12: 4, 11: 4}
{0: 832, 1: 544, 2: 152, 3: 44, 4: 12, 5: 8, 6: 4, 7: 4}
{1: 1400, 2: 196, 3: 4}
{0: 1544, 1: 52, 2: 4}

In [78]:
df_metadata_unique = df_metadata[['id', 1, 2, 4]].drop_duplicates(subset=['id'])
df_metadata_unique[[1, 2, 4]] = df_metadata_unique[[1, 2, 4]] > 0
df_metadata_unique

              id      1      2      4
0         151191  False   True  False
1         170516  False   True  False
2         160440   True  False  False
3         151397  False   True  False
4     170859 (2)  False   True  False
...          ...    ...    ...    ...
1477      110008   True  False  False
1490      100228  False   True  False
1495       15073   True  False  False
1525       16064   True  False  False
1550      100023  False   True  False

[400 rows x 4 columns]

In [83]:
kfold = MultilabelStratifiedKFold(n_splits=5, shuffle=True, random_state=42)
df_metadata_unique['fold'] = -1
for fold, (train_val_idx, test_idx) in enumerate(kfold.split(df_metadata_unique, df_metadata_unique[[1, 2, 4]], df_metadata_unique['id'])):
    df_metadata_unique.iloc[test_idx, -1] = fold
df_metadata_unique

              id      1      2      4  fold
0         151191  False   True  False     0
1         170516  False   True  False     4
2         160440   True  False  False     2
3         151397  False   True  False     2
4     170859 (2)  False   True  False     4
...          ...    ...    ...    ...   ...
1477      110008   True  False  False     2
1490      100228  False   True  False     4
1495       15073   True  False  False     0
1525       16064   True  False  False     4
1550      100023  False   True  False     3

[400 rows x 5 columns]

In [84]:
for fold in range(5):
    print(df_metadata_unique[df_metadata_unique['fold'] == fold][[1, 2, 4]].sum().to_dict())

{1: 41, 2: 39, 4: 3}
{1: 42, 2: 38, 4: 3}
{1: 41, 2: 38, 4: 2}
{1: 41, 2: 39, 4: 3}
{1: 41, 2: 38, 4: 3}

In [85]:
for fold in range(5):
    print(len(df_metadata_unique[df_metadata_unique['fold'] == fold]))

79
79
80
82
80

In [88]:
for fold in range(5):
    print(df_metadata_unique[(df_metadata_unique['fold'] == fold) & (df_metadata_unique[4] > 0)]['id'].to_list())

['160408', '170709', '170526']
['150776', '170128', '160407']
['170029', '170569']
['150599 (2)', '150867', '170013']
['150394', '170222', '150598 (2)']

In [89]:
df_metadata_unique[['id', 'fold']].to_csv('folds.csv', index=False)